<!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
    <!-- <p><i class="fa fa-copyright fa-1x" aria-hidden="true"> </i>{{ site.time | date: "%Y" }} Made with <strong style="font-size: 30px; color: #f42;"> &hearts; </strong> by Harshal</p> -->
    <p><i class="fa fa-copyright fa-1x" aria-hidden="true"> </i>{{ site.time | date: "%Y" }}<small> Made with :heart: by Harshal</small></p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key fa-fw"></i>keybase.io</a> &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://raw.githubusercontent.com/cloud-parrot/cloud-parrot.github.io/master/LICENSE" target="_blank"><i class="fa fa-certificate"></i>MIT</a></p>
        {% endif %}
    </div>
</footer>

<p><br></p>

<!-- Footer End -->
