// Variables

// Main color
$primary-color: #fff;

// Anchor color
$secondary-color: #ffb528;

// Font color
$font-color: #000;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $font-color;
$intro-text-color: #fff;
$navbar-color: #fff;
$navbar-lg-collapse-background-color: #000;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: #c47bd2;
